astroid==2.11.2
autopep8==1.6.0
click==8.1.2
colorama==0.4.4
dill==0.3.4
Flask==2.1.1
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.1
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.7.0
platformdirs==2.5.1
pycodestyle==2.8.0
pylint==2.13.4
toml==0.10.2
tomli==2.0.1
Werkzeug==2.1.0
wrapt==1.14.0
